.wrap {
    display: flex;
}
.wrapMessage {
    margin-left: 200px;
    width: 80%;
}
.dialog,
.message {
    margin: 20px;
}
.dialog.active {
    color: gold;
}
.dialogItem {
    display: flex;
    align-items: center;
}
.dialogItem img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.nameText {
    margin-left: 20px;
}