.menu {
    width: 20%;
    background-color: chocolate;

  }
  /* .listMenu {
      
  } */
  .listMenu li{
    list-style-type: none;
    margin: 5px;
  
  }
  .listMenu a {
    color: white;
    text-decoration: none;
  }
.item a.activeLink {
    color: red;
}